<h1 >  Login Form </h1>
<form>
    <div class="container">
        <label>Username : </label>
        <input type="text" placeholder="Enter Username" name="username" [(ngModel)]="username"required>
        <label>Password : </label>
        <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="password"required>
        <button type="submit" class="bg-success" (click)="btnclick()">Login</button>
        <input type="checkbox" checked="checked"> Remember me
        <button type="button" class="cancelbtn"> Cancel</button>
        Forgot <a href="#"> password? </a>
    </div>
</form>
